.iml
 ../207546kdde14p2.pdf
        ../Algo names.pdf
        ../Captures/
        ../CustomLogin/
        ../DAA/
        ./
        ../DevOpsTutorial.pdf
        ../Manisha/
        ../SPatel/
        ../SandeepVerma/
        ../Sandhya/
        ../Screen Recordings/
        ../Wallpaper/
        ../algo/
        ../application forms/
        ../desktop.ini
        ../docs/
        ../gate/
        ../htmlCW/
        ../iv/
        ../javaD/
        ../rrb/
        ../sem 5/
        ../sem3/
        ../sem6/
        ../softpro/
        ../to kill a mocking bird.pdf
        ../wallpaper2/